{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About PassAdmin</title>
	<link rel="stylesheet" type="text/css" href="{%static 'About.css'%}">
</head>
<body>
	<div class="parent">
		{%include 'register/nav.html'%}
		<p class="head-txt">About<span> Us</span></p>
		<div class="main_cnt">

			<div class="txt">

				Hi, Iam Magudesh, a Web Developer who is very passionate with computer science, this project is one of my first project which I’ve put my atmost efforts. One of the main reasons, I developed this project is for people who suffer from forgetting their passwords too often like me, also I din’t compromise with the project features in any sort, Passadmin Uses a high secure database and 
<b>End-to-Encryption</b> in order to keep its users data 
<b>Safe and Secure.</b>
			</div>
			<div class="vector">
				<img src="{%static 'Assets/Images/undraw_specs_re_546x (1) 1.svg'%}">
			</div>
		</div>
	</div>
</body>
</html>