{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password Reset</title>
	<link rel="stylesheet" type="text/css" href="{%static 'password_reset.css'%}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico'%}"/>
</head>
<body>
	{%include 'register/nav.html'%}
	<div class="parent">
		<div class="cont">
	<p class="main-txt"><span>Forgot Your Password??</span><br> Start by Entering your E-mail below</p>
	<form action="" method="POST" class="passfrm">
		{%csrf_token%}
		{{form}}
		<input type="submit" name="Send email" class="subbtn">
	</form>
</div>
    </div>
    <script>
    	let label = document.getElementsByTagName('label')
    	let int =  document.querySelector('#id_email')
    	label[0].remove();
    	
    	int.placeholder = 'Email'
    </script>
</body>
</html>