{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Why PassAdmin</title>
	<link rel="stylesheet" type="text/css" href="{%static 'why_us.css'%}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico'%}"/>
</head>
<body>
	<div class="parent">
		{%include 'register/nav.html'%}
		<p class="head-txt">Why<span> Us?</span></p>
		<div class="main_cnt">

			<div class="txt">
				Passadmin runs at its maximum Potential to provide our users with quality service.
				Passadmin stores your data in a Secure database with Dual-Encryption, Your data is End-to-End Encrypted to your PassAdmin Account.
			</div>
			<div class="vector">
				<img src="{%static 'Assets/Images/undraw_security_on_re_e491 1.svg'%}">
			</div>
		</div>
	</div>
</body>
</html>