{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About PassAdmin</title>
	<link rel="stylesheet" type="text/css" href="{%static 'home_about.css'%}">
</head>
<body>
	<div class="parent">
		{%include 'main/nav.html'%}
		<p class="head-txt">About<span> Us</span></p>
		<div class="main_cnt">

			<div class="txt">

				Hi There, PassAdmin is your one stop site to save your passwords, One of the main motives that the app was built on is of memory loss, many people struggle loosing their passwords to their digital account, now here is the solution for all your struggles, <b>PassAdmin</b> offers you a robust and a secure Password Management tool which offers you Reliability, Accesbility and Simplicity. Now you dont have to remember all your password, you just have to remember one single password for your PassAdmin Account and that's it, Your Passwords are accesible around the Planet.
			</div>
			<div class="vector">
				<img src="{%static 'Assets/Images/undraw_specs_re_546x (1) 1.svg'%}">
			</div>
		</div>
	</div>
</body>
</html>