{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contact || PassAdmin</title>
	<link rel="stylesheet" type="text/css" href="{% static 'contactstyle.css' %}">
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico'%}"/>
</head>
<body>
	{%include 'main/nav.html'%}
	<div class="parent flex">
		<div class="content-div">
			<div class="header"><p>Get In Touch With Us</p></div>
			<div class="content"><p>Help Us Improve with your valuable suggestions and reviews, PassAdmin team is mainly focused on User Experience and Happiness</p></div>
			<div class="social-med">
				<div class="soc-header"><p>Follow us on</p></div>
				<a href="#" class="soc-anchor"><img class="ic-sz"src="{%static 'Assets/Images/logo-instagram-ct.svg' %}">Instagram</a>
				<a href="#" class="soc-anchor"><img class="ic-sz" src="{%static 'Assets/Images/logo-facebook.svg' %}">Facebook</a>
				<a href="#" class="soc-anchor"><img class="ic-sz" src="{%static 'Assets/Images/icons8-twitter (1).svg' %}">Twitter</a>
			</div>
		</div>
		<div class="form-div">
			<form action="#" class="form" method="POST">
				{%csrf_token%}
				<input type="text" placeholder="Firstname*" class="int" name="firstname">
				<input type="text" placeholder="Your Email" class="int" name="Email">
				<input type="text" placeholder="Subject" class="int" name="Subject">
				<textarea class="int" placeholder="Message" name="Message"></textarea>
				<input type="submit" value="Submit" class="int sub">
			</form>
		</div>
	</div>
</body>
</html>