@font-face
{
	src: url(Assets/Fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-medium;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-semiBold;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-regular;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Light.ttf);
    font-family: Montserrat-light;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background: #141414;
	color: white;
}
.main-txt
{
	font-family: Montserrat-semiBold;
	font-size: 64px;
}
.sec-txt
{
	font-family: Montserrat-regular;
	font-size: 25px;
}
.parent
{
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
}
.container
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}
.vector{
	display: flex;
}
.vecimg
{
	max-width: 60%;
}
a
{
	font-family: Montserrat-light;
	color: white;

}
button
{
	border: 2px solid white;
	border-radius: 20px;
	outline: none;
	background: transparent;
	color: white;
	padding: 10px;
	font-size: 16px;
	margin: 10px;
	transition: 1s;
	cursor: pointer;
}
button::hover
{
	background: white;
	color: black;
}