@font-face
{
	src: url(Assets/Fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-semiBold;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-regular;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Light.ttf);
    font-family: Montserrat-light;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-medium;
}
*
{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
html
{
	font-size: 62.5%;
}
body
{
	/*background: linear-gradient(-45deg,#191919,#090909);*/
	background: #090909;
	color: white;
	font-family: Montserrat-regular;
	
}
.parent{
	width: 100%;
	min-height: 80vh;
	flex-wrap: wrap;
}
.content-div
{
	width: 50%;
}
a
{
	color: white;
}
/*----------------------------------Utilities----------------------------------*/
.flex
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 15px;
}
.ic-sz
{
	max-width: 4%;
}
.form
{
	display: flex;
	flex-direction: column;
}
.header
{
	font-size: 4rem;
	font-family: Montserrat-medium;
	text-decoration: underline;
}
.content p
{
	font-size: 2rem;
	font-family: Montserrat-light;
	letter-spacing: 1px;
}
.soc-header p
{
	font-family: Montserrat-regular;
	font-size: 3rem;
	text-decoration: underline;
	margin-top: 1.5rem;
}
.soc-anchor
{
	font-size: 2rem;
	font-family: Montserrat-light;
	text-decoration: none;
}
.soc-anchor img
{
	margin-right: 5px;
	margin-top: 5px;
}
.social-med
{
	display: flex;
	flex-direction: column;
}
.form-div
{
	width: 50%;

}
.int
{
	background: none;
	border: 2px solid #fff;
	height: 5rem;
	margin: 1.5rem;
	color: white;
	padding: 15px;
	font-size: 24px;
}
.sub
{
	margin-top: 1.5rem;
	background: white;
	color: black;
	text-align: center;
	transition: 1s;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 0;
	outline: none;
	font-family: Montserrat-medium;

}
.sub:hover
{
	background: black;
	color: white;
}
::-webkit-input-placeholder {
  color: #F6F6F6;
  font-size: 25px;
  font-family: Montserrat-light;
}
@media (max-width: 900px)
{
	.parent
	{
		flex-direction: column;
	}
	.content-div, .form-div
	{
		width: 100%;
	}

}