@font-face
{
	src: url(Assets/Fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-medium;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-semiBold;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-regular;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	font-family: Montserrat-medium;
	background: #191919;
	color: white;
}
.parent
{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	padding-left: 100px;
	padding-right: 100px;
	overflow: hidden;
}
.content-box
{
	width: 500px;
	padding: 10px;
	padding-bottom: 20px;
	height: 430px;
	background: #121212;
	box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.5),
	            -5px -5px 10px 7px rgba(0,0,0,0.5);
	border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.cont-header
{
	font-family: Montserrat-SemiBold;
    font-size: 30px;
    margin-top: 20px;
}
.form
{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
	width: 100%;
}
#id_Website, #id_password, #id_Username
{
	width: 95%;
	height: 50px;
	background: #191919;
	border: none;
	outline: none;
	text-align: center;
	font-size: 25px;
	font-family: Montserrat-medium;
	color: white;
	margin: 15px;
	border-radius: 10px;
}
.save-btn
{
	width: 95%;
	height: 50px;
	border: none;
	outline: none;
	text-align: center;
	font-size: 30px;
	font-family: Montserrat-SemiBold;
	background: black;
	color: white;
	border-radius: 10px;	
	margin: 15px;
	box-shadow: 5px 5px 10px 7px rgba(0, 0, 0, 0.25);
	transition: 0.5s;
}
.save-btn:hover
{
	box-shadow: -5px -5px 10px 7px rgba(0, 0, 0, 0.25),
	            5px 5px 10px 7px rgba(0, 0, 0, 0.25);
}
@media (max-width: 450px)
{
	.content-box
	{
		width: 350px;
	}
}