{%extends 'main/base.html'%}
{%block title%}Login || MGH PRODUCTIONS{%endblock%}
{%block content%}
{%load static%}
<link rel="stylesheet" type="text/css" href="{%static 'style.css'%}">

<div class="form-div">
<h1 class="header">MGH PRODUCTIONS</h1>

<div class="login-form-login">
<div class="subheaddiv">
<h1 class="sub-header-login">Login Page</h1>
</div>
<form method="POST" class="form-group-loginn" action="">
	{% load crispy_forms_tags %}
    {%csrf_token%}
    <input type="text" name="username" placeholder="Username" class="input-login ">
    <input type="password" name="password" placeholder="Password" class="input-login">
	<input type="submit" class="btn btn-dark input-login login-btn">
	<p>Don't have a Account? <a href="/register">Create One</a></p>
	{%for message in messages%}
	<p class="header34">{{message}}</p>
	{%endfor%}
</form>
</div>
</div>
{%endblock%}