*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	color: white;
	background: #090909;
}
.parent
{
	display: flex;
	min-height: 100vh;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.cont
{
	display: flex;
	flex-direction: column;
}
.main-txt
{
	margin: 50px;
	font-size: 32px;
	font-family: Montserrat-Regular;
	text-align: center
}
.passfrm
{
	display: flex;
	flex-direction: column;
	align-items: center;
}
input
{
	border: none;
	outline: none;
	background: transparent;
	color: white;
	padding: 5px;
	max-width: 500px;
	margin: 10px;
	font-size: 24px;
	font-family: Montserrat-light;
	border-bottom: 2px solid #F6F6F6;
	text-align: center;
}
::-webkit-input-placeholder {
  color: #F6F6F6;
  font-size: 20px;
  font-family: Montserrat-light;
}
.subbtn
{
	padding: 15px 20px 15px 20px;
	background: #3B21F1;
	border: none;
	outline: none;
	border-radius: 30px;
	margin-top: 20px;
	color: white;
	font-size: 20px;
	letter-spacing: .5px;
	font-family: Montserrat-medium;
	cursor: pointer;
	margin-left: 10px;
	width: 200px;
}
span
{
	font-family: Montserrat-medium;
}
