*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background: #191919;
	color: white;
}
.header
{
	color: white;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}
.url-data
{
	color: white;
	font-size: 20px;
	text-align: center;
}
.list-group
{
	width: 600px;
}
.list-group-item
{
	display: flex;
    justify-content: space-evenly;
}
.txt-cnt
{
	text-align: left;
}
.btn
{
	width: 76px;
}
.buttons
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-top: 10px;
}
.txt-cnt
{
	color: black;
}
.table
{
	color: white;
	margin-top: 50px;
}