@font-face
{
	src: url(Assets/Fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-semiBold;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-regular;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Light.ttf);
    font-family: Montserrat-light;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-medium;
}
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.logo
{
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    pointer-events: none;
}
.logo-sp
{
	color: #3B21F1;
}
.nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 20px 40px 0 40px;
	position: absoulte;
	top: 0;
}
.side-bar
{
	display: flex;
	flex-direction: column;
	position: fixed;
	right: -250px;
	top: 0;
	background: #3B21F1;
	z-index: 1000;
	width: 250px;
	height: 100vh;
	transition: .7s;
}
.side-bar.active
{
	position: fixed;
	right: 0;
}
.user-name
{
	text-align: center;
}
.nav-links
{
	display: flex;
	z-index: 100;
	flex-direction: column;
	margin-top: 120px;
	align-items: center;

}
ul
{
	display: flex;
	flex-direction: column;
	margin-right: 37px;
	text-align: left;
	

}
.nav li
{
	list-style-type: none;
	margin-top: 20px;
	margin-left: 20px;
	text-align: left;
}
.nav-anchor
{
	text-decoration: none;
	color: white;
	font-family: Montserrat-regular;
	font-size: 24px;
	transition: .5s;
	
}
.nav-anchor:hover
{ 
	color: lightslategray; 
}
.theme
{
    cursor: pointer;
}
ion-icon
{
	margin-right: 5px;
}
.hamburg
{

    cursor: pointer;
    z-index: 100;
}
.exit-btn
{
	position: absolute;
	bottom: 0;
	left: 0;
    width: 100%;
    height: 50px;
    background: #3626A7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}