@font-face
{
	src: url(Assets/Fonts/Montserrat-SemiBold.ttf);
    font-family: Montserrat-semiBold;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Regular.ttf);
    font-family: Montserrat-regular;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Light.ttf);
    font-family: Montserrat-light;
}
@font-face
{
	src: url(Assets/Fonts/Montserrat-Medium.ttf);
    font-family: Montserrat-medium;
}
*
{
	margin:  0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	/*background: linear-gradient(-45deg,#191919,#090909);*/
	background: #090909;
	color: white;
	font-family: Montserrat-regular;
	
}
.logo
{
    font-family: Montserrat-SemiBold;
    font-size: 40px;
    pointer-events: none;
}

span
{
	color: #3B21F1;
}
.sec-head
{
	font-size: 40px;
	margin-top: 10px;
	font-family: Montserrat-medium;

}
.parent
{
	display: flex;
	flex-direction: column;
  padding: 10px 50px 10px 50px;
}
.header
{
	margin-left: 10px;
}
form
{
	display: flex;
	flex-direction: column;
  width: 100%;
	align-items: flex-start;
}
.main-cnt
{
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.int
{
	border: none;
	outline: none;
	background: transparent;
	color: white;
	padding: 5px;
	width: 90%;
	margin: 10px;
	font-size: 24px;
	font-family: Montserrat-light;
	border-bottom: 2px solid #F6F6F6;
}
::-webkit-input-placeholder {
  color: #F6F6F6;
  font-size: 25px;
  font-family: Montserrat-light;
}
.btn1
{
	padding: 15px 20px 15px 20px;
	background: #3B21F1;
	border: none;
	outline: none;
	border-radius: 30px;
	margin-top: 10px;
	color: white;
	font-size: 20px;
	letter-spacing: .5px;
	font-family: Montserrat-light;
	cursor: pointer;
	margin-left: 10px;
}
.anchor
{
	color: white;
	margin: 20px;
}
.vector
{
	width: 50%;
}
.vector
{
	width: 100%;
}
.check-div
{
	margin: 10px;
}
@media (max-width: 700px)
{
	.logo, 
	{
		font-size: 35px;
		text-align: center;
	}
	.sec-head
	{
		font-size: 30px;
	}
}
@media (max-width: 900px)
{
	.vector
	{
		display: none;
	}
}