*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body
{
	background-color: #191919;
	font-family: 'Montserrat', sans-serif;
	color: white;
}
h1
{
	color: white;
}
.div1
{
	background: aqua;
	width: 500px;
	height: 200px;
}
.side-tab
{
	width: 100px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background: purple;
}
.form-div
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}
.login-form-login
{
	width: 400px;
	background: #141414;
	height: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top:50px;
	position: relative;
	/*padding-top: 10px;*/
}
.subheaddiv
{
	position: absolute;
	top: -50px;
	left: 85px;
}
.login-btn
{
	margin-top: 20px;
}
.form-group-loginn
{
	display: flex;
	height: 100%;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.header34
{
	font-size: 16px;
	color: white;
}
.input-login
{
	width: 390px;
	height: 30px;
	margin: 5px;
	border-radius: 5px;
	text-align: center;
	outline: none;
	border: none;
}
.header
{
	text-align: center;
	text-decoration: underline;
	font-weight: bold;
	font-size: 32px;
}
.sub-header-login
{
	text-align: center;
	margin-top: 100px;
	text-decoration: underline;
}
.header-pass
{
	position: absolute;
	bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	color: darkred;
}